@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html, body, #root {
    @apply w-full min-h-screen m-0 p-0 bg-gray-50 dark:bg-[#121212] text-gray-900 dark:text-white transition-colors duration-300;
  }
}