.productStyle{
        border-radius: 16px;
        padding: 30px;
        margin-top: 70px;
        margin-bottom: 40px;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08) ;
        transition: all .3s ease-in-out;
        width: 95%;
}