@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.rochetta-font {
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}

/* Logo in Light Mode */
body.light .navbar-brand {
  color: #ffffff !important; 
}

/* Logo in Dark Mode */
body.dark .navbar-brand {
  color: #fefefe !important; 
}


@media (max-width: 768px) {
  .navbar form {
    width: 100%;
  }

  .navbar .btn {
    width: 100%;
  }

  .navbar-nav .nav-link {
    padding-left: 0;
  }
}
.search-input{
background-color:#f5f5f5 !important;
}

.auth-link {
   font-family: "Cairo", sans-serif;
  font-weight: 600 !important;
  font-size: large !important;
  color: rgb(0, 128, 0);
}

